/* font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Spectral SC', serif; */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
}
body {
    background-color: rgba(250, 250, 250, 1);
}

body::-webkit-scrollbar {
    width: .5rem;
}
body::-webkit-scrollbar-track {
    -webkit-border-radius: 0rem;
    background-color: #ddd; 
    border-radius: .4rem;
}
body::-webkit-scrollbar-thumb {
    background-color: #aaa; 
    border-radius: .4rem;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

html.dark-mode {
    background-color: #29292B;
}


/* ----- Navbar ----- */
.navbar {
    position: sticky;
    z-index: 200;
    color: #00B4E7;
    background-color: rgba(250, 250, 250, 1);
    box-shadow: .4rem .4rem .4rem rgba(200, 200, 200, .8), -.4rem -.4rem .4rem rgba(255, 255, 255, .8);
    padding: .5rem 0;
}
.navbar.dark-mode{
    background-color: #29292B;
    box-shadow: 0rem .4rem .4rem #1c1c1d, 0rem 0rem 0rem rgba(83, 83, 84, .5);
}
.navbar-container {
    position: relative;
    width: 87%;
    margin: auto;
    padding: 1.5rem 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}

.logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
}
.logo a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.3rem;
    line-height: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #00B4E7;
}
.name {
    position: absolute;
    left: 11%;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6em;
    line-height: 1rem;
    font-weight: bold;
}

.directories {
    position: absolute;
    top: 50%;
    right: 16rem;
    transform: translateY(-50%);
}
.directories a {
    display: inline-block;
    margin-left: 2vw;
    color: #00B4E7;
    text-decoration: none;
    font-size: .9em;
}

.sun, .moon {
    display: none;
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 50%;
    right: 3.5rem;
    transform: translateY(-50%);
    z-index: 102;
    cursor: pointer;
}

.dark-mode-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.dark-mode-label {
    user-select: none;
    padding: .3rem .5rem .3rem .9rem;
    border-radius: .7rem;
    box-shadow: .4rem .4rem .4rem rgba(200, 200, 200, .8), -.4rem -.4rem .4rem rgba(255, 255, 255, .8);
}
.dark-mode-label.dark-mode{
    background-color: #29292B;
    box-shadow: .4rem .4rem .4rem #1c1c1d, -.4rem -.4rem .4rem rgba(83, 83, 84, .5);
}
.dark-mode-label small {
    font-size: .8rem;
    margin-right: .5rem;
}

.sidebar {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    z-index: 100;
    height: 48px;
    width: 40px;
    display: none;
}
.burger {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0;
    margin: 0;
}
.first, .second, .third {
    position: absolute;
    height: 3px;
    width: 40px;
    background-color: #00B4E7;
    transition: all 0.5s ease;
}
.first {
    top: calc(50% - 10px);
    transform: translateY(-50%);
    right: 0;
}
.second {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.third {
    top: calc(50% + 10px);
    transform: translateY(-50%);
    right: 0;
}
.burger.open .first {
   transform: translate(0px, 8px) rotate(45deg);
   transition: all 0.5s ease;
}
.burger.open .second {
    opacity: 0;
    transition: all 0.2s ease;
}
.burger.open .third {
    transform: translate(0px, -12px) rotate(-45deg);
    transition: all 0.5s ease;
}
.sidebar-content {
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
    top: 54.375px;
    background-color: #39393B;
    list-style: none;
    padding-left: 0;
}
.sidebar-content li a {
    display: block;
    z-index: 101;
    width: 100%;
    padding: 1rem 0;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: .9em;
}


/*---------- Dark Mode Toggle Button ----------*/
.toggle {
    position: relative;
    width: 100%;
}
.switch {
    position: relative;
    display: inline-block;
}
.switch input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
}
.toggle span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.toggle span:before {
    display: block;
    width: 50px;
    height: 30px;
    content: "";
    background-color:rgba(128, 128, 128, 1);
    border-radius: 28px;
    transition: background-color 0.3s ease;
}
.toggle span:after {
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 28px;
    height: 28px;
    visibility: visible;
    content: "";
    background-color: #fff;
    border-radius: 28px;
    transition: left 0.3s ease;
}
input[type="checkbox"]:checked ~ span:before {
    background-color: rgba(60, 179, 113, 1);
}
input[type="checkbox"]:checked ~ span:after {
    top: 1px;
    left: 21px;
}
input[type="checkbox"]:hover ~ span:before {
    background-color: rgba(60, 179, 113, .7);
}
input[type="checkbox"]:not(:checked):hover ~ span:before {
    background-color: rgba(128, 128, 128, .7);
}
input[type="checkbox"]:focus ~ span:before {
    outline: none;
    /* box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.4); */
}

@media screen and (max-width:1199px) {
/* small desktop */
    .name {
        display: none;
    }
}

@media screen and (max-width: 969px) {
/* large tablet */
    .dark-mode-label small {
        display: none;
    }
    .directories {
        right: 7rem;
        transform: translateY(-50%);
    }
}
    
@media screen and (max-width: 767px) {
    /* medium tablet */
    .navbar {
        padding: .3rem 0;
    }
    .navbar-container {
        width: 90%;
        margin: auto;
    }
    .logo {
        font-size: 2.2rem;
        letter-spacing: -1px;
    }
    .directories {
        display: none;
    }
    .dark-mode-btn {
        display: none;
    }
    .moon {
        display: block;
    }
    .sidebar {
        right: 0;
        transform: translate(0, -50%);
        display: block;
    }
}


/* ----- Section ----- */
.main-section {
    height: 100%;
    width: 100%;
    padding: 4rem 1rem 0rem 1rem;
}
.main-section.dark-mode{
    background-color: #29292B;
    color: white;
}

/* home */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    margin: auto;
    height: 91vh;
}
.home h1 {
    font-size: clamp(1.5em, calc(1em + 2vw), 2.7em);
    line-height: 1.2;
}
.home p {
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: clamp(1em, 1.6vw, 1.5em);
    line-height: 1.8;
    margin-top: 1rem;
}
.home p span {
    color: #00B4E7;
    font-weight: 500;
    font-size: clamp(1em, 1.6vw, 1.5em);
    line-height: 1.8;
}

@media screen and (min-width: 600px) and (max-width:990px) {
    .home {
        max-width: 80%;
    }
}

.portrait {
    height: 40vw;
    max-height: 200px;
    width: auto;
    border: 2px solid #ddd;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.social-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.github, .linkedin {
    display: block;
    height: 10vw;
    max-height: 3rem;
    width: auto;
}


/* Skill */
.skill {
    margin-top: 2rem;
    padding: 1rem 0;
}

h2 {
    font-size: clamp(1.3em, calc(1em + 1.8vw), 2.1em);
    margin-bottom: 3rem;
    text-align: center;
}

.skill-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.skill-icon-container div {
    width: 48%;
}
.skill-icon-container div .skill-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2rem;
    padding: .8rem 0 .8rem 1.3rem;
    border-radius: 1rem;
    box-shadow: .4rem .4rem .4rem rgba(200, 200, 200, .8), -.4rem -.4rem .4rem rgba(255, 255, 255, .8);
}
.skill-icon-container div .skill-label.dark-mode {
    background-color: #29292B;
    box-shadow: .4rem .4rem .4rem #1c1c1d, -.4rem -.4rem .4rem rgba(83, 83, 84, .5);
}
.skill-icon-container div:last-child {
    margin-bottom: 0;
}
.skill-icon-container div span {
    vertical-align: middle;
    font-size: clamp(1em, 1.6vw, 1.5em);
    margin-left: .8rem;
}
.skill-icon {
    display: inline-block;
    height: 6vw;
    max-height: 3rem;
    width: auto;
}

@media screen and (max-width: 767px) {
    h2 {
        margin-bottom: 2rem;
    }
    .skill-icon-container {
        flex-direction: column;
    }
    .skill-icon-container div {
        width: 100%;
        margin-bottom: 1.2rem;
    }
}


/* Line <hr> Divider */
.divider {
    border: none;
    padding-top: 3rem;
    border-bottom: 1px solid #ddd;
    width: 95%;
    margin: auto;
}
.divider-skill {
    border: none;
    border-bottom: 0px solid #ddd;
    width: 95%;
    margin: auto;
}


/* Project */
.project {
    margin-top: 6rem;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.project-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.project-top .project-item {
    width: 46.5%;
    height: auto;
}

.project-item {
    margin-bottom: 3.5rem;
}

.project-text, .project-text a {
    font-size: clamp(1em, 1.3vw, 1.4em);
    font-weight: 300;
    line-height: 1.65;
}
.project-text a {
    color: #00B4E7;
}
.project-text a:hover {
    text-decoration: none;
}
.project-text b {
    font-size: clamp(1em, 1.3vw, 1.4em);
    font-weight: 400;
    font-size: .8em;
}

h3, h3 a {
    margin: .8rem 0 0 0;
    font-weight: 400;
    font-size: clamp(1.2rem, calc(1rem + 1vw), 1.7rem);
    color: #00B4E7;
}
h3:hover, h3 a:hover {
    color: #444;
    text-decoration: none;
}
h3.dark-mode:hover, h3 a.dark-mode:hover {
    color: white;
}
h3 span {
    font-size: .7em;
}
h3 {
    position: relative;
    transition: 0.4s;
}
h3::before {
    position: absolute;
    content: '\00bb';
    transition: 0.4s;
    opacity: 0;
    top: 50%;
    left: -5rem;
    transform: translateY(-50%);
}
h3:hover::before {
    opacity: 1;
    left: -2rem;
}
h6 {
    margin: .7rem 0 1rem 0;
    display: inline-block;
    background-color: #eee;
    padding: .3rem .8rem;
}
h6:hover{
    background-color: #ddd;
}
h6 a {
    font-weight: 300;
    font-size: .9rem;
    text-decoration: none;
    color: #555;
    user-select: none;
}

.img-container {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: block;
    border: 1px solid rgba(220, 220, 220, 1);
}
.img-scale {
    width: 100%;
    height: auto;
    display: block;
}
.img-hover-zoom img {
    transform-origin: center top;
    transition: transform .4s, visibility .25s ease-in;
}
.img-hover-zoom:hover img {
    transform: scale(2);
}
.img-hover-zoom--btn img {
    transform-origin: center bottom;
    transition: transform .4s, visibility .25s ease-in;
}
.img-hover-zoom--btn:hover img {
    transform: scale(1.35);
}
.img-hover-zoom--portfolio img {
    transform-origin: center 90%;
    transition: transform .4s, visibility .25s ease-in;
}
.img-hover-zoom--portfolio:hover img {
    transform: scale(1.3);
}
.img-hover-zoom--sandbox img {
    transform-origin: center center;
    transition: transform .4s, visibility .25s ease-in;
}
.img-hover-zoom--sandbox:hover img {
    transform: scale(1.2);
}

.span-tag {
    margin-top: .5rem;
}
.span-tag span {
    display: inline-block;
    color: #ddd;
    background-color: #49494B;
    padding: .2rem .6rem;
    margin-top: .3rem;
    margin-right: .5rem;
    border-radius: .2rem;
    font-size: .75em;
    user-select: none;
}

.info-text {
    padding-bottom: 1rem;
}
.info-text a {
    color: #00B4E7;
}
.info-text a:hover {
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .divider {
        padding-top: 2rem;
    }
    .project {
        margin-top: 4rem;
    }
    .project-top {
        display: flex;
        flex-direction: column;
    }
    .top-space {
        margin-bottom: 3.5rem;
    }
    .project-top .project-item {
        width: 100%;
    }
    .project-item:last-child {
        margin-bottom: 0rem;
    }
    .info-text {
        padding-top: 3rem;
    }
}


/* About Me */
.about {
    width: 75%;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
}
.about p {
    margin-bottom: 1rem;
}
.about p, .about li, .about p a {
    font-size: clamp(1em, 1.4vw, 1.5em);
    font-weight: 300;
    line-height: 1.8;
}
.about p a {
    color: #00B4E7;
}
.about p a:hover {
    text-decoration: none;
}
.about p b {
    font-size: clamp(1em, 1.4vw, 1.5em);
    font-weight: 500;
}
.about h4 {
    font-size: clamp(1em, 1.5vw, 1.7em);
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.about-skill {
    float: right;
    margin-left: 1.5rem;
    background-color: #eee;
    padding: 1.5rem 3rem 1rem 1.5rem;
}
.about-skill div {
    font-size: clamp(.9em, 1.1vw, 1.1em);
    font-weight: 350;
    line-height: 1.5;
    margin-bottom: .5rem;
    color: #555;
}
.about-skill small {
    display: block;
    font-size: clamp(.8em, 1vw, 1em);
    line-height: 1.5;
    margin-bottom: .7rem;
    color: #1c1c1d;
}

@media screen and (max-width: 690px) {
    .about {
        width: 90%;
        margin-top: 4rem;
    }
    .about-skill {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-bottom: 1rem;
    }
    .clear-space {
        padding-top: 1rem;
    }
}


/* Contact */
.contact {
    margin-top: 6rem;
}

.contact-social-container {
    background-color: #eee;
    padding: 1rem .5rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: clamp(300px, 80vw, 600px);
    border-radius: .3rem;
}
.contact-social-container.dark-mode {
    background-color: #353537;
}

.contact-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contact-social div a {
    margin-left: .5rem;
    font-size: clamp(1em, 1.2vw, 1.5em);
    color: #00B4E7;
}
.contact-social div a:hover {
    text-decoration: none;
}
.contact-social img {
    height: 1.25rem;
    width: 1.25rem;
}

.contact p {
    font-weight: 300;
    font-size: clamp(1em, 1.2vw, 1.5em);
    line-height: 1.5;
    text-align: center;
}
.contact p b {
    font-weight: 500;
    font-size: clamp(1em, 1.2vw, 1.5em);
    line-height: 1.5;
    margin-bottom: .7rem;
}
.contact small {
    display: block;
    font-weight: 500;
    font-size: clamp(.8em, 1vw, 1em);
    line-height: 1;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.email {
    margin-top: 1.5rem;
}
.email p a {
    color: #00B4E7;
}
.email p a:hover {
    text-decoration: none;
}

@media screen and (max-width: 690px) {
    .contact {
        margin-top: 4rem;
    }
}

@media screen and (max-width:534px) {
    .contact-social-container {
        width: 95%;
        max-width: 95%;
    }
}